
.wrapper {
    display: flex;
    flex-direction: column;
    height: 126px;
    margin: 12px 10px 4px 10px;
    align-items: center;
    flex-basis: calc(10% - 20px);
    .img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover; 
        }
    }
    .title {
        font-weight: 300;
        align-items: center;
        text-align: center;
        line-height: 21px;
        width: 103px;
        font-size: 1.4rem;

        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

}

.wrapper:hover {
    .title {
        color: var(--primary);
        transition: color 0.4s;
    }
}

/* Mobile & tablet */
@media (max-width: 1024px) {
}

/* Tablet */

@media (min-width: 896px) and (max-width: 1023px) {

}

@media (max-width: 895px) {
  
}

@media (max-width: 426px) {
    .wrapper {
        // float: center;
    }
}
