
.wrapper {
    background-color: var(--silver);

}

.inner {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .breadcrumb {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: var(--white);
        border-radius: 8px;
        width: 100%;
        min-height: 45px;
        padding: 0 8px;
        a, span {
            font-weight: 300;
            font-size: 1.7rem;
        }
        a:hover {
            color: var(--primary);
            transition: color 0.3s;
        }
    }

    .content {
        display: flex;
        background-color: var(--white);
        border-radius: 8px;
        width: 100%;
        padding: 8px 12px;
        margin-top: 20px;
        .product-filter {
            margin-right: 12px;
            width: 25%;
            > h5 {
                font-size: 2rem;
                font-weight: 500;
            }
            > span {
                font-style: italic;
                font-weight: 300;
            }
            .product-brand {
                margin-top: 16px;
                span{
                    display: block;
                    width: 100%;
                    background-color: #fff3cd;
                    height: 50px;
                    line-height: 50px;
                    color: #856404;
                    border-radius: 8px;
                    padding-left: 20px;
                    margin-top: 8px;
                }
            }
            .product-filter__price {
                margin-top: 16px;
                ul{
                    li{
                        margin-top: 8px;
                        margin-left: 12px;
                        input {
                            margin-right: 8px;
                        }
                    }
                }
            }
            .product-category {
                margin-top: 16px;
                .navbar__category {
                    a {
                        transition: color 0.5s;
                        line-height: 24px;
                        display: flex;
                    }
                    a:hover {
                        color: var(--primary);
                    }
                }
            }
            
        }
        .content-main {
            width: 75%;

            > h5 {
                font-size: 2rem;
                font-weight: 500;
                display: block;
                margin-bottom: 12px;
            }
            .product-sort {
                display: flex;
                border-top: 1px solid #ccc;
                padding: 12px 4px;
                .product-sort--list {
                    display: flex;
                    flex-direction: row;
                    li{
                        margin-left: 12px;
                        input{
                            margin-right: 4px;
                        }
                    }
                }
            }
            .content-main__product {
                display: flex;
                flex-direction: column;
                border-top: 1px solid #ccc;
                // padding-top: 12px;
                padding-bottom: 48px;
                width: 100%;
                min-height: 100%;
                align-items: center;
                position: relative;
                .content-main__product--list {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    
                }
                .product-pagination {
                    display: inline-block;
                    margin-top: 20px;
                    button {
                        color: black;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    button.active {
                        background-color: var(--primary);
                        color: white;
                    }
                    button.disable {
                        cursor: auto;
                        opacity: 0.4;
                        // border: none;
                    }
                    button:not(.active):not(.disable):hover{
                        background-color: var(--primary);
                        color: white;
                    }
                }
            }
        }
    }
    h6{
        font-size: 1.7rem;
        font-weight: 500;
    }
}

/* Mobile & tablet */
@media (max-width: 1024px) {
}

/* Tablet */

@media (min-width: 896px) and (max-width: 1023px) {

}

@media (max-width: 895px) {

}

@media (max-width: 426px) {
    .fearured-category {
        // max-height: 185px;
        // overflow: hidden;
        // overflow-x: scroll;
        .fearured-category__list {
            // display: inline-block!important;
            // float: left;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}