.wrapper {
  background-color: var(--silver);
  .inner {
      width: 88%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      .breadcrumb {
          display: flex;
          align-items: center;
          text-align: center;
          background-color: var(--white);
          border-radius: 8px;
          width: 100%;
          min-height: 45px;
          padding: 0 8px;
          h5{
              font-size: 2.6rem;
          }
      }
      .content {
          margin-top: 18px;
          background-color: var(--white);
          border-radius: 8px;
          margin-bottom: 20px;
          padding: 12px;
          .category_product {
              margin-bottom: 10px;
          }
          span {
              font-weight: bold;
            }
            
            input[type="text"],
            textarea {
              width: 100%;
              padding: 8px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
            textarea {
              height: 200px;
            }
            
            select {
              width: 100%;
              padding: 8px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
            
            ul {
              list-style-type: none;
              padding: 0;
              display: flex;
            }
            
            li {
              margin-bottom: 10px;
            }
            
            img {
              width: 200px;
              height: auto;
              margin-top: 10px;
            }
            
            button {
              padding: 10px 20px;
              background-color: var(--primary);
              color: white;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
          .img_product{
              display: flex;
              flex-direction: column;
          }
          .image_product {

          }
            
      }
  }
}
